<section>
  <div class="top-section">
    <div class="content">
      <h6>Data is fully responsive landing page template</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolore
        tempora sit maxime veniam saepe reprehenderit aspernatur qui voluptatum
      </p>
      <button>STARTED CREATING POSTS</button>
    </div>
  </div>
</section>
<!-- =================================Middle Section===================================== -->
<section class="parent-middle-section">
  <div class="middle-section">
    <div class="content">
      <div class="header">
        <i class="fas fa-medal"></i>
        <h6>Clean and ultra modern design webpages by Nitesh</h6>
      </div>
      <div class="main-content">
        <div class="sub-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            eius recusandae velit qui eaque officia id sint facere, atque
            numquam laborum ea ducimus earum, maxime aut, unde alias itaque quo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            eius recusandae velit qui eaque officia id sint facere, atque
            numquam laborum ea ducimus earum, maxime aut, unde alias itaque quo.
          </p>
          <button>Learn More</button>
        </div>
        <div class="image-container">
          <img src="../../../assets/images/vector.jpeg" alt="" class="image" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =================================Bottom Section==================================== -->
<section>
  <div class="bottom-section">
    <div class="header">
      <h6>It's designed for describing your posts, agency or business</h6>
      <p>
        The clean and well commented code allows easy customization of the
        theme.It's designed for describing your app, agency or business.
      </p>
    </div>
    <div class="content-wrapper">
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat
          </p>
        </div>
      </div>
      <div class="content">
        <div class="content-item">
          <i class="fas fa-medal"></i>
          <h6>title</h6>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
            a, consectetur odit esse repellat error sit,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
