<div class="container">
  <div class="sign-in-card">
    <div class="header"><h6>Sign in</h6></div>

    <input type="text" name="" id="" />
    <input type="text" name="" id="" />
    <div class="checkbox">
      <label for=""><input type="checkbox" name="" id="" /> Remember me</label>
      <span>Forgot password</span>
    </div>
    <button>SIGN IN</button>

    <span>Not a member? Register</span>
    <span>or sign in with</span>

    <div class="icons-wrapper">
      <i class="fab fa-facebook" aria-hidden="true"></i>
      <i class="fab fa-twitter" aria-hidden="true"></i>
      <i class="fab fa-google-plus" aria-hidden="true"></i>
      <i class="fab fa-linkedin" aria-hidden="true"></i>
      <i class="fab fa-github" aria-hidden="true"></i>
    </div>
  </div>
</div>
